// colors
$neutral900: #163a34;
$neutral600: #395852;
$neutral300: #d0dcd9;
$neutral200: #e0e6e3;
$neutral100: #f6f5f1;

$orange500: #fe9f6b;
$teal500: #49ac9b;
$indigo500: #697ddb;
$strong950: #293241;


// breakpoints
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1200px;