@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.ready-cta {
    background-color: $neutral200;
    padding: 4rem 1rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 1rem;



    @include tablet {
        position: relative;
        overflow: hidden;
        margin-top: 2rem;

        &::before {
            position: absolute;
            content: "";
            height: 10rem;
            width: 10rem;
            top: -3rem;
            right: -1rem;
            background-image: url("/assets/images/pattern-knife.svg");
            background-size: cover;

            @include desktop {
                height: 21.125rem;
                width: 21.125rem;
                background-image: url("/assets/images/pattern-knife.svg");
                background-size: cover;
                right: -5rem;
            }
            // z-index: 0;
        }

        &::after {
            position: absolute;
            content: "";
            height: 10rem;
            width: 10rem;
            bottom: -0.5rem;
            left: 0;
            background-image: url("/assets/images/pattern-fork.svg");
            background-size: contain;
            background-repeat: no-repeat;
            left: -1rem;

            @include desktop {
                height: 24.375rem;
                width: 19.625rem;
                left: -5rem;

            }

        }

    }

    @include desktop {
        max-width: 75%;
        margin: 6rem auto 0;
        height: 24.75rem;
        padding-top: 6rem;
    }


    &-title {
        @include tp2;
        margin-bottom: 0.75rem;

        @include tablet {
            @include tp2-tab;
            position: relative;
            z-index: 2;
        }

        
    }

    &-desc {
        @include tp6;
        margin-bottom: 2rem;

        @include tablet {
            position: relative;
            z-index: 2;
        }
    }

    &-btn {
        background-color: $neutral900;
        padding: 1rem 1.5rem;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 140%;
        color: white;
        border: none;
        border-radius: 0.625rem;


        @include tablet {
            position: relative;
            z-index: 2;
        }
    }
}