@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.recipeFilter {
    position: relative;

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.625rem 1rem;
        gap: 0.5rem;
        background-color: white;
        border: 1px solid $neutral300;
        border-radius: 0.625rem;
        @extend .tp7;
    }

    &__filters {
        // visibility: hidden;
        position: absolute;
        top: calc(100% + 0.25rem);

        color: $strong950;
        @extend .tp7;
        background-color: white;
        z-index: 100;
        padding: 0.5rem;
        width: 60%;
        border-radius: 0.5rem;
        border: 1px solid $neutral300;
        box-shadow: 0 12px 22px -12px $neutral300;

        &--open {
            visibility: visible;
        }

        &--closed {
            display: none;
        }

    }

    &__option {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding: 0.5rem;

    }

    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        font: inherit;
        width: 1rem;
        height: 1rem;
        border: 1px solid $neutral300;
        border-radius: 50%;
        box-shadow: 0 1px 2px 0px rgba(22, 58, 52, 0.12);
        transform: translateY(-0.075rem);
        display: grid;
        place-content: center;


        &::before {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms all ease-in-out;
            box-shadow: inset 1em 1em $neutral900;
        }

        &:checked {
            border: 2px solid $neutral900;
        }

        &:checked::before {
            transform: scale(1);
        }
    }

}