@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home {
    &__hero {
        margin-top: 3rem;

        &-title {
            @include tp2;
            margin-bottom: 1rem;

            @include tablet {
                @include tp1-tab;
            }
        }

        .healthy {
            position: relative;

            &::after {
                content: "";
                height: 1.5rem;
                width: 100%;
                // background-color: $orange500;
                background-color: #fe9e6bab;
                position: absolute;
                left: 0;
                bottom: 0.755rem;
                border-radius: 0.25rem;
                z-index: -1;

            }
        }

        &-subtitle {
            @include tp6;
            margin-bottom: 2rem
        }

        &-cta {
            @include tp5;
            background-color: $neutral900;
            border: none;
            color: white;
            padding: 1rem 2rem;
            border-radius: 0.625rem;
            margin-bottom: 2.5rem;
        }

        &-img {
            position: relative;
            // background-color: red;

            .squiggle {
                position: absolute;
                // left: -1rem;
                // background-color: red;
                height: 100%;
                right: -1rem;
                // object-position: ;
                z-index: -1;
            }

            .woman {
                width: 100%;
                border-radius: 3.45px;
                outline: 4px solid white;
            }
        }


    }

    &__features {
        padding-top: 4rem;

        @include tablet {
            // border: 1px solid grey;
            padding-bottom: 5rem;
            position: relative;

            &::after {
                content: "";
                height: 1px;
                position: absolute;
                left: -2rem;
                right: -2rem;
                bottom: 0;
                background-color: $neutral300
            }
        }

        &-title {
            @include tp2;

            @include tablet {
                @include tp2-tab;
            }
        }

        &-list {
            margin-top: 2rem;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &__feature {


        &-icon {
            height: 3.75rem;
            width: 3.75rem;
            background-color: white;
            box-shadow: 0 1px 0 0 $neutral200;
            border-radius: 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.25rem;
        }

        &-name {
            @include tp3;
            margin-bottom: 0.75rem;
        }

        &-desc {
            @include tp6;
        }
    }


    &__real-life {
        margin-top: 4rem;

        .half-hour {
            font-weight: bold;

            @include tablet {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 40%;
                    width: 105%;
                    background-color: $orange500;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0.6rem;
                    border-radius: 0.25rem;
                    z-index: -1000;

                }
            }
        }

        @include tablet {
            margin-top: 5rem;
        }

        &-title {
            @include tp2;
            margin-bottom: 1.25rem;

            @include tablet {
                @include tp2-tab;
            }

        }

        &-desc {
            @include tp6;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
        }

        &-img {
            margin-top: 2rem;
            width: 100%;
            border-radius: 0.625rem;
        }
    }

    &__cta {
        background-color: $neutral200;
        padding: 4rem 1rem;
        text-align: center;
        border-radius: 1rem;
        margin-top: 4rem;

        @include tablet {
            position: relative;
            overflow: hidden;

            &::before {
                position: absolute;
                content: "";
                height: 10rem;
                width: 10rem;
                top: -3rem;
                right: -1rem;
                background-image: url("/assets/images/pattern-knife.svg");
                background-size: cover;
                // z-index: 0;
            }

            &::after {
                position: absolute;
                content: "";
                height: 10rem;
                width: 10rem;
                bottom: -0.5rem;
                left: 0;
                background-image: url("/assets/images/pattern-fork.svg");
                background-size: contain;
                background-repeat: no-repeat;
                left: -1rem;

            }

        }


        &-title {
            @include tp2;
            margin-bottom: 0.75rem;

            @include tablet {
                @include tp2-tab;
                position: relative;
                z-index: 2;
            }
        }

        &-desc {
            @include tp6;
            margin-bottom: 2rem;

            @include tablet {
                position: relative;
                z-index: 2;
            }
        }

        &-btn {
            background-color: $neutral900;
            padding: 1rem 1.5rem;
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 140%;
            color: white;
            border: none;
            border-radius: 0.625rem;


            @include tablet {
                position: relative;
                z-index: 2;
            }
        }
    }
}