@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 1.5rem;
    padding: 2rem 1rem  1.25rem 1rem;

    ul {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        li {
            list-style-type: none;
        }
    }

    &__credit {
        @extend .tp9;
        color: $neutral900;
    }
}